// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';
@import 'components/idchecker';
@import 'components/modal';
@import 'components/slideout';
@import 'components/dev-mode';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////


.button-as-link {
  background: none !important;
  color: $nhsuk-link-color;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
  &:hover { color: $nhsuk-link-hover-color; }
  &:active { color: $nhsuk-link-active-color; }
  &:visited { color: $nhsuk-link-visited-color; }
  &:focus {
    color: $nhsuk-button-active-color;
    outline: none;
  }
}

strong.govuk-tag {
  &.latest-release {
    background-color: $color_nhsuk-blue;
    color: $color_nhsuk-white;
    font-size: 0.9rem;
  }

  &.concept,
  &.in-progress {
    background-color: $color_nhsuk-green;
    color: $color_nhsuk-white;
    font-size: 0.9rem;
  }
}
