
{% extends 'layout.html' %}

{% block content %}

<h1 class="nhsuk-heading-l">Holding list</h1>

<table class="nhsuk-table">
  <thead class="nhsuk-table__head">
    <tr class="nhsuk-table__row">
      <th class="nhsuk-table__header" scope="col">Choose record</th>
      <th class="nhsuk-table__header" scope="col">Status</th>
      <th class="nhsuk-table__header" scope="col">Added by</th>
      <th class="nhsuk-table__header" scope="col">Reason</th>
      <th class="nhsuk-table__header" scope="col">Submitted</th>
      <th class="nhsuk-table__header" scope="col">Verification ID</th>
      <th class="nhsuk-table__header" scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">

    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1"></label>
      </div>
      </td>
      <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag with-checker">With Jane Doe</strong>
      </td>
      <td class="nhsuk-table__cell">
        Rosie Waites
      </td>
      <td class="nhsuk-table__cell">
        Potential Safeguarding
      </td>
      <td class="nhsuk-table__cell">
        19d 2h 45m
      </td>
      <td class="nhsuk-table__cell">
        162908de
      </td>
      <td class="nhsuk-table__cell">
        <a href="">Reassign</a>
      </td>
    </tr>

    <tr class="nhsuk-table__row" style="background-color:#fff9c4">
      <td class="nhsuk-table__cell">
        <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1"></label>
      </div>
      </td>
      <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag with-me">With me</strong>
      </td>
      <td class="nhsuk-table__cell">
        Jane Doe
      </td>
      <td class="nhsuk-table__cell">
        Potential Fraud - Likeness/Liveness
      </td>
      <td class="nhsuk-table__cell">
        2d 6h 46m
      </td>
      <td class="nhsuk-table__cell">
        aa246d5b
      </td>
      <td class="nhsuk-table__cell">
        <a href="">Reopen</a>
        <a href="">Reassign</a>
      </td>
    </tr>

    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1"></label>
      </div>
      </td>
      <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag unopened">Unopened</strong>
      </td>
      <td class="nhsuk-table__cell">
        Zackary Ali
      </td>
      <td class="nhsuk-table__cell">
        Potential Fraud - ID Document
        <p class="nhsuk-hint nhsuk-u-padding-top-2">This is some additional notes about this record.</p>
      </td>
      <td class="nhsuk-table__cell">
        1d 2h 6m
      </td>
      <td class="nhsuk-table__cell">
        ddff92ca
      </td>
      <td class="nhsuk-table__cell">
        <a href="">Open</a>
      </td>
    </tr>

    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1"></label>
      </div>
      </td>
      <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag unopened">Unopened</strong>
      </td>
      <td class="nhsuk-table__cell">
        David Allan
      </td>
      <td class="nhsuk-table__cell">
        Unsupported Postcode
      </td>
      <td class="nhsuk-table__cell">
        2h 43m
      </td>
      <td class="nhsuk-table__cell">
        c3a091e6
      </td>
      <td class="nhsuk-table__cell">
        <a href="">Open</a>
      </td>
    </tr>

    <tr class="nhsuk-table__row" style="background-color:#fff9c4">
      <td class="nhsuk-table__cell">
        <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1"></label>
      </div>
      </td>
      <td class="nhsuk-table__cell">
        <strong class="nhsuk-tag with-me">With me</strong>
      </td>
      <td class="nhsuk-table__cell">
        Ryan Stockport
      </td>
      <td class="nhsuk-table__cell">
        Other
        <p class="nhsuk-hint nhsuk-u-padding-top-2">This is a very very long note. A supervisor can have multiple records assigned at the
          same time i.e if they open a record and return to dashboard instead of choosing to 'Discard'
          it will remain assigned to them until they reassign it to another ID checker.</p>
      </td>
      <td class="nhsuk-table__cell">
        10m
      </td>
      <td class="nhsuk-table__cell">
        3a230d33
      </td>
      <td class="nhsuk-table__cell">
        <a href="">Reopen</a>
        <a href="">Reassign</a>
      </td>
    </tr>

  </tbody>
</table>

<div id="slideout-sendback" data-status="closed">
  <a href="#" class="slideout-sendback__button" id="slideout__button">
      <img src="/images/sendbacktomain.png" alt="Feedback" height="32" width="172" />
  </a>
</div>



{% endblock %}