
{% extends 'layout.html' %}

{% block content %}

<h1 class="nhsuk-heading-l">Holding list</h1>

<table role="table" class="nhsuk-table-responsive">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Verification ID
      </th>
      <th role="columnheader" class="" scope="col">
        User
      </th>
      <th role="columnheader" class="" scope="col">
        Reason
      </th>
      <th role="columnheader" class="" scope="col">
        Submitted
      </th>
      <th role="columnheader" class="" scope="col">
        
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Verification ID</span>edbfdc1e
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">User</span>71LL132112Q17121G71O7G11OO331747
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Reason</span>Potential fraud
      </td>
      <td role="cell" class="nhsuk-table__cell">
        <span class="nhsuk-table-responsive__heading">Submitted</span>6 days, 2 hours, 5 minutes
      </td>
      <td role="cell" class="nhsuk-table__cell" style="color: #808080">
        Picked up by: 442567493823
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}