{% extends 'layout.html' %}


{% set service = "idchecker" %}
{% set signedin = 'true' %}
{% set params = "?demographics=" + demographics + "&role=" + role + "&result=" + result + "&failreason=" + failreason + "&devMode=" + devMode + "&automation=" + automation  %}
{% set dataResult = 'data-result=' + result %}




<!-- 
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    ---------------------   ASSURANCE AUDIT VIEW HEADER OVERRIDE ------------------
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
-->

{% block header %}
<header class="nhsuk-header-audit-view nhsuk-header--organisation nhsuk-header--white" role="banner">
    <div class="nhsuk-width-container nhsuk-header__container">
        <div class="nhsuk-header__logo nhsuk-header__logo--only">
            <a class="nhsuk-header__link nhsuk-header__link--service " href="/" aria-label="NHS login ID verification assurance audit">
                
                    <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16" height="40" width="100">
                        <path class="nhsuk-logo__background" fill="#005eb8" d="M0 0h40v16H0z"></path>
                        <path class="nhsuk-logo__text" fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
                    </svg>
                    
                    <span class="nhsuk-header__service-name">
                        Assurance Audit
                    </span>
              
            </a>
        </div>      

                   
        </div>  
                  
</header>



{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/footer -->
{% block footer %}
<footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
        <div class="nhsuk-width-container">
            <h2 class="nhsuk-u-visually-hidden">Support links</h2>
            <ul class="nhsuk-footer__list">
                <li class="nhsuk-footer__list-item">
                    <a class="nhsuk-footer__list-item-link id-check_external-link" title="open sharepoint site in new tab" href="https://hscic365.sharepoint.com/sites/NHSloginIDVerify/SitePages/NHS-login-ID-Verification-Toolkit.aspx" target="_blank">ID checking guidance</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
{% endblock %}


{% block content %}

<!-- 
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    ------------------------          CSS STYLE OVERRIDES         --------------
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
-->

<style>

    .nhsuk-header {
        display: none;  
    }

    .nhsuk-header-audit-view {
        background-color: #ffff;
        color: black;
    }

    .nhsuk-header__navigation {
        background-color: transparent;
    }

    .sticky {
        position: sticky;
        z-index: 999; 
        top: 0%;
        padding-bottom: 24px;
    }
</style>
<style>
/* Parent container styling */
.container {
    display: flex; /* Align columns side by side */
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent scrolling on the container */

}

/* Left column styling */
.left-column {
    width: 50%;
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Enable vertical scrolling within the column */
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 25%;
    box-sizing: border-box;
    border-right: 1px solid #aeb7bd;
}

/* Right column styling */
.right-column {
    width: 50%;
    padding-left: 24px;
    box-sizing: border-box;
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Enable vertical scrolling within the column */
    padding-bottom: 25%;
}

/* Photo id FRONT container  */
.zoom-container {
    position: relative;
}

/* Photo id BACK container  */
.zoom-container-back {
    margin-top: 32px;
    position: relative;
}

/* Zoom image styling */
.zoom-image, .zoom-image-back {
    width: 100%;
    height: auto;
    display: block;
}

/* Zoom window styling */
.zoom-window, .zoom-window-back {
    position: absolute;
    border: 2px solid #ffeb3b;
    width: 100%; /* Size of the zoom window */
    height: 100%; /* Size of the zoom window */
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    display: none; /* Initially hidden */
    overflow: hidden;
}

.zoom-window img, .zoom-window-back img {
    position: absolute;
    width: 200%; /* Adjust zoom level */
    height: auto;
}
</style>

<!-- 
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
    ------------------------          JOURNEY TAGS         --------------
    \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
-->

<div class="sticky">
    <!-- is this automated? check for an absence of video file --> 
    {% if data.manual === 'true' %}
    <div class="id-check_uplift">Manual journey</div> 
    {% else %}
    <div class="id-check_automated">Automated journey</div>
    {% endif %}
</div> 

<!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\    LEFT COLUMN   /////////////////////////////////////////////////////////
            
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
-->

<div class="container">
    
    <div class="left-column">
        <h3>Photo ID</h3>
        <p>
            To zoom in, hover over the picture.
        </p>
        <div class="zoom-container" data-zoom-src-front="/images/media/photos/drivinglicence_sample.jpg">
            <div class="zoom-window"></div>
            <img src="/images/media/photos/drivinglicence_sample.jpg" alt="Sample Image" class="zoom-image">
        </div>
        <div class="zoom-container-back" data-zoom-src-back="/images/media/photos/DL-back.jpg">
            <div class="zoom-window-back"></div>
            <img src="/images/media/photos/DL-back.jpg" alt="Sample Image" class="zoom-image-back">
        </div>
    </div>
    <div class="right-column">
            <!--\\\\\\\\\\\\\\\\\\\\\\\\    USER SUBMITTED DATA   ////////////////////////////-->

            <div class="nhsuk-form-group nhsuk-u-margin-bottom-7 nhsuk-u-padding-top-4">
                <h3>Postcode</h3>
                <p style="background-color: #fff9c4; padding: 16px 24px 16px 24px; font-size: 20px; font-weight: bold; width: fit-content;">LS16 8PE</p>
            </div>
            
            <!--\\\\\\\\\\\\\\\\\\\\\\\\           PDS RECORD        ////////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            -->
            <div class="nhsuk-u-margin-top-9">
                <h3>PDS record</h3>
                <div class="idcheck-match">
                    <table id="pds-result">
                        <tr>
                            <td>First name:</td>
                            <td><b>Joe</b></td>
                        </tr>
                        <tr>
                            <td>Middle name:</td>
                            <td><b>William</b></td>
                        </tr>
                        <tr>
                            <td>Last name:</td>
                            <td><b>Bloggs</b></td>
                        </tr>
                        <tr>
                            <td>Date of birth:</td>
                            <td><b>1st November, 1991</b></td>
                        </tr>
                        <tr>
                            <td>NHS number:</td>
                            <td><b>9686883606</b></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <!--\\\\\\\\\\\\\\\\\\\\\\\\             VIDEO           ////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            -->
            <div class="nhsuk-u-margin-top-9 nhsuk-u-margin-bottom-9">
                <h3>
                    {% if data.manual === 'true' %}
                    Video selfie
                    {% else %}
                    Image from face scan
                    {% endif %}
                </h3>
                <div class="idcheck-media">
                    {% if data.manual === 'true' %}
                    <video id="uploaded-video" controls name="media" style="width:100%;height:auto;">
                        <source src="/images/media/videos/challenge.mp4" type="video/mp4">
                    </video>
                    {% else %}
                    <img src="/images/media/scans/iproov-scan.png" class="idcheck-image-img" style="width: 100%; height: 100%;"
                    alt="Image of the user from iproov"/>
                    {% endif %}
                </div>
            </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const zoomContainer = document.querySelector('.zoom-container');
    const zoomImage = document.querySelector('.zoom-image');
    const zoomWindow = document.querySelector('.zoom-window');

    // Create a clone of the image to use as the zoomed-in image
    const zoomImg = document.createElement('img');
    zoomImg.src = zoomContainer.getAttribute('data-zoom-src-front')
    zoomImg.style.position = 'absolute';
    zoomImg.style.width = `${zoomImage.width * 2}px`; // Adjust size based on zoom level
    zoomImg.style.height = `${zoomImage.height * 2}px`; // Adjust size based on zoom level
    zoomImg.style.pointerEvents = 'none'; // Prevent interaction with zoomed image
    zoomWindow.appendChild(zoomImg);

    zoomContainer.addEventListener('mousemove', function(event) {
        const rect = zoomImage.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const y = event.clientY - rect.top;

        zoomWindow.style.display = 'block';
        zoomImg.style.transform = `translate(-${x * 1}px, -${y * 1}px)`; // Move the zoomed image
    });

    zoomContainer.addEventListener('mouseleave', function() {
        zoomWindow.style.display = 'none';
    });
});

</script>


<script>
document.addEventListener('DOMContentLoaded', function() {
    const zoomContainerBack = document.querySelector('.zoom-container-back');
    const zoomImageBack = document.querySelector('.zoom-image-back');
    const zoomWindowBack = document.querySelector('.zoom-window-back');

    // Create a clone of the image to use as the zoomed-in image
    const zoomImgBack = document.createElement('img');
    zoomImgBack.src = zoomContainerBack.getAttribute('data-zoom-src-back');
    zoomImgBack.style.position = 'absolute';
    zoomImgBack.style.width = `${zoomImageBack.width * 2}px`; // Adjust size based on zoom level
    zoomImgBack.style.height = `${zoomImageBack.height * 2}px`; // Adjust size based on zoom level
    zoomImgBack.style.pointerEvents = 'none'; // Prevent interaction with zoomed image
    zoomWindowBack.appendChild(zoomImgBack);

    zoomContainerBack.addEventListener('mousemove', function(event) {
        const rect = zoomContainerBack.getBoundingClientRect();
        const x = event.clientX - rect.left;
        const y = event.clientY - rect.top;

        zoomWindowBack.style.display = 'block';

        zoomImgBack.style.transform = `translate(-${x * 1}px, -${y * 1}px)`; // Move the zoomed image
    });

    zoomContainerBack.addEventListener('mouseleave', function() {
        zoomWindowBack.style.display = 'none';
    });
});
</script>

{% endblock %}

