<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login ID Checker App
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <span class="nhsuk-caption-l">
               ID Checker App
      </span>
      <h1>
        NHS login identity verification and matching service
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <p class="nhsuk-body-l">
        A service for ID checkers to check identity documents, perform facial comparisons and match users to their NHS record.
      </p>

      <p class="nhsuk-body-l">
Need to merge version K into version L.     </p>



      <form action="{{ thisPage }}" method="POST" role="form">


      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Aligned to live
          </span>
        </summary>
        <div class="nhsuk-details__text version-text">
          <dl class="release-desc">
            <dt class="design"><button type="submit" class="button-as-link" name="version" value="#"><strong>work in progress</strong></button></dt>
            <p>Currently, working to build this into the prototype.</p>
            <p>Use
              <a href="https://qa-nhs-idc.auth.eu-west-2.amazoncognito.com/login?response_type=token&client_id=49l6g3jrlbdl8i547fe9aklhp3&redirect_uri=https://idchecker.qa.signin.nhs.uk/cis/cognito-token.html">ID Checker App demo environment</a>
              to see what's in live.
            </p>
            <p>Username: research</p>
            <p>Password: Password1!</p>
            <dd class="nhsuk-u-margin-0">
            <strong class="govuk-tag in-progress">last edited: July 2024</strong> 
          </dl>


      </details>

      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Audit view
          </span>
        </summary>
        <div class="nhsuk-details__text version-text">
        <dl class="release-desc">
          <dt class="design"><button type="submit" class="button-as-link" name="version" value="assurance-audit"><strong>Assurance audit</strong></button></dt>
          <dd class="nhsuk-u-margin-0">
            <p>Assurance audit is a process for ID checkers to audit themselves. It is carried out by trained supervisors only.</p>
            <p>Audit view is not accessed via ID checker dashboard.</p>
            <p>Spluk randomly selects 10% of the approved checks and generates a list. Supervisors log in to Splunk and copy this list and create links on a spreadsheet. 
              They then manually assign these to themselves and go over individual checks link by link.
            </p>
          <strong class="govuk-tag in-progress">last edited: May 2022</strong>
        </dl>
        </div>

      </details>

      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Features in progress
          </span>
        </summary>
        <div class="nhsuk-details__text version-text">

          <dl class="release-desc">
            <dt class="design"><button type="submit" class="button-as-link" name="version" value="a"><strong>Assurance audit: User submitted info update</strong></button></dt>
            <dd class="nhsuk-u-margin-0">
              Update user information to display postcode only.<br>
              Postcode is the only field displaying what the user have originally submitted at P5.<br>
              When there is a PDS match, all other user submitted information is replaced with what is in PDS and therefore ID checkers would not use/ rely on it while checking against the ID.<br>
            </dd>
            <strong class="govuk-tag in-progress">last edited: 18 July 2024</strong>
          </dl>

          <dl class="release-desc">
            <dt class="design"><button type="submit" class="button-as-link" name="version" value="n"><strong>Move to hold queue updates</strong></button></dt>
            <dd class="nhsuk-u-margin-0">
              Move to hold reasons as pre-select drop down list instead of free text box<br>
              Move to hold redesign to open as a modal instead of side bar<br>
            </dd>
            <strong class="govuk-tag in-progress">last edited: 13 June 2024</strong>
          </dl>

          <dl class="release-desc">
            <dt class="design"><button type="submit" class="button-as-link" name="version" value="k"><strong>Reverification process</strong></button></dt>
            <dd class="nhsuk-u-margin-0">
              Ability to revoke decisions<br>
              New dashboard design to show pending state<br>
            <strong class="govuk-tag in-progress">last edited: Jun 2022</strong>
          </dl>
        </div>

      </details>

      </form>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}