<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login ID Checker App
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <span class="nhsuk-caption-l">
               ID Checker App
      </span>
      <h1>
        NHS login identity verification and matching service
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <p class="nhsuk-body-l">
        A service for ID checkers to check identity documents, perform facial comparisons and match users to their NHS record.
      </p>



<!--
//.................................................................
//..I....NN......N.........LL.........I...VV......VV...EEEEEEEEE...
//.III..INNN....NNN....... LLL.......III.IVVV....VVVV.VEEEEEEEEEE..
//.III..INNNN...NNN....... LLL.......III.IVVV....VVVV.VEEEEEEEEEE..
//.III..INNNN...NNN....... LLL.......III.IVVVV...VVVV.VEEEEEEEEEE..
//.III..INNNNN..NNN....... LLL.......III..VVVV..VVVV..VEEE.........
//.III..INNNNNN.NNN....... LLL.......III..VVVV..VVVV..VEEEEEEEEE...
//.III..INNNNNN.NNN....... LLL.......III..VVVVV.VVVV..VEEEEEEEEE...
//.III..INN.NNNNNNN....... LLL.......III...VVVVVVVV...VEEEEEEEEE...
//.III..INN.NNNNNNN....... LLL.......III...VVVVVVVV...VEEEEEEEEE...
//.III..INN..NNNNNN....... LLL.......III....VVVVVVV...VEEE.........
//.III..INN..NNNNNN....... LLL.......III....VVVVVV....VEEE.........
//.III..INN...NNNNN....... LLLLLLLLL.III....VVVVVV....VEEEEEEEEEE..
//.III..INN...NNNNN....... LLLLLLLLL.III.....VVVVV....VEEEEEEEEEE..
//.III..INN....NNNN....... LLLLLLLLL.III.....VVVV.....VEEEEEEEEEE..
//.................................................................
-->  


      <form action="/" method="post">
        <input type="hidden" name="feature-state" value="live">
        <details class="nhsuk-details nhsuk-expander version-list">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Aligned to live
            </span>
          </summary>
          <div class="nhsuk-details__text version-text">
              <dl class="release-desc">
                <dt style="display:none;" class="design"><button type="submit" class="button-as-link" name="target-page" value="#"><strong>Work in progress</strong></button></dt>
                <p>Currently, working to build this into the prototype.</p>
                <p>Use
                  <a target="_blank" href="https://qa-nhs-idc.auth.eu-west-2.amazoncognito.com/login?response_type=token&client_id=49l6g3jrlbdl8i547fe9aklhp3&redirect_uri=https://idchecker.qa.signin.nhs.uk/cis/cognito-token.html">ID Checker App demo environment</a>
                  to see what's in live.
                </p>
                <p>Username: research</p>
                <p>Password: Password1!</p>
                <dd class="nhsuk-u-margin-0">
                <strong class="govuk-tag in-progress">last edited: July 2024</strong> 
              </dl>
          </div>

        </details>

      </form>

<!--
//...............................................................................................................................
//..I....NN......N.........PPPPP.......RRRRR..........OOOOOO.........GGGGG......RRRRR........EEEEEEEEE....SSSSSS......SSSSSS.....
//.III..INNN....NNN....... PPPPPPPPP..PRRRRRRRRR.....OOOOOOOOO.....GGGGGGGGG...GRRRRRRRRR...REEEEEEEEEE..SSSSSSSS....SSSSSSSS....
//.III..INNNN...NNN....... PPPPPPPPP..PRRRRRRRRRR...OOOOOOOOOO....GGGGGGGGGG...GRRRRRRRRRR..REEEEEEEEEE.ESSSSSSSSS..SSSSSSSSSS...
//.III..INNNN...NNN....... PPPPPPPPPP.PRRRRRRRRRR..ROOOOOOOOOOO..OGGGGGGGGGGG..GRRRRRRRRRR..REEEEEEEEEE.ESSSSSSSSS..SSSSSSSSSS...
//.III..INNNNN..NNN....... PPP...PPPP.PRRR...RRRRR.ROOO....OOOO..OGGG....GGGG..GRRR...RRRRR.REEE.......EESS...SSSSSSSSS...SSSSS..
//.III..INNNNNN.NNN....... PPP...PPPP.PRRR...RRRRR.ROOO....OOOOOOOGGG....GGGG..GRRR...RRRRR.REEEEEEEEE.EESSSS......SSSSSS........
//.III..INNNNNN.NNN....... PPPPPPPPPP.PRRRRRRRRRR.RROO......OOOOOOGG...GGGGGG..GRRRRRRRRRR..REEEEEEEEE..ESSSSSSSS...SSSSSSSSS....
//.III..INN.NNNNNNN....... PPPPPPPPPP.PRRRRRRRRRR.RROO......OOOOOOGG...GGGGGG..GRRRRRRRRRR..REEEEEEEEE..ESSSSSSSSS..SSSSSSSSSS...
//.III..INN.NNNNNNN....... PPPPPPPPP..PRRRRRRRRRR.RROO......OOOOOOGG...GGGGGG..GRRRRRRRRRR..REEEEEEEEE....SSSSSSSSS...SSSSSSSSS..
//.III..INN..NNNNNN....... PPPPPPPP...PRRR..RRRRR..ROOO....OOOOOOOGGG..GGGGGG..GRRR..RRRRR..REEE.......EESS..SSSSSSSSSS..SSSSSS..
//.III..INN..NNNNNN....... PPP........PRRR...RRRR..ROOO....OOOO..OGGG....GGGG..GRRR...RRRR..REEE.......EESS....SSSSSSSS....SSSS..
//.III..INN...NNNNN....... PPP........PRRR...RRRR..ROOOOOOOOOOO..OGGGGGGGGGGG..GRRR...RRRR..REEEEEEEEEEEESSSSSSSSSSSSSSSSSSSSSS..
//.III..INN...NNNNN....... PPP........PRRR...RRRR...OOOOOOOOOO....GGGGGGGGGGG..GRRR...RRRR..REEEEEEEEEE.ESSSSSSSSS..SSSSSSSSSS...
//.III..INN....NNNN....... PPP........PRRR...RRRRR...OOOOOOOOO.....GGGGGGGGGG..GRRR...RRRRR.REEEEEEEEEE..SSSSSSSSS...SSSSSSSSS...
//....................................................OOOOOO........GGGG..................................SSSSSS......SSSSSS.....
//...............................................................................................................................
-->
      <form action="/" method="post">
        <input type="hidden" name="feature-state" value="in-progress">
        <details class="nhsuk-details nhsuk-expander version-list">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Features in progress
            </span>
          </summary>
          <div class="nhsuk-details__text version-text">

            <dl class="release-desc">
              <dt class="design"><button type="submit" class="button-as-link" name="target-page" value="h/id-checker?pdsMatch=true&docChecks=passed"><strong>Automated checks UI</strong></button></dt>
              <dd class="nhsuk-u-margin-0">
                New automated checks tag<br>
                Disable questions as per the automation checks that have pass<br>
              </dd>
              <p class="nhsuk-u-padding-top-3">
                Ticket <a target="_blank" href="https://nhsd-jira.digital.nhs.uk/browse/CID-21283">CID-21283</a>
              </p>
              <strong class="govuk-tag in-progress">last edited: November 2024</strong>
            </dl>

            <dl class="release-desc">
              <dt class="design"><button type="submit" class="button-as-link" name="target-page" value="c/id-checker"><strong>Add new Safeguarding question</strong></button></dt>
              <dd class="nhsuk-u-margin-0">
                Add new question under Video selfie (manual)/ Face scan (automated)<br>
                Offer ' Move to hold queue' CTA, if opened from the main queue<br>
                Offer ' Reject' CTA, if opened from the holding queue<br>
              </dd>
              <p class="nhsuk-u-padding-top-3">
                Ticket <a target="_blank" href="https://nhsd-jira.digital.nhs.uk/browse/CID-21361">CID-21361</a>
              </p>
              <strong class="govuk-tag in-progress">last edited: October 2024</strong>
            </dl>

            <dl class="release-desc">
              <dt class="design"><button type="submit" class="button-as-link" name="target-page" value="f/id-checker"><strong>Change the order of sections</strong></button></dt>
              <dd class="nhsuk-u-margin-0">
                Move liveness checks (face scan/ video selfie) before PDS trace<br>
              </dd>
              <p class="nhsuk-u-padding-top-3">
                Ticket <a target="_blank" href="https://nhsd-jira.digital.nhs.uk/browse/CID-21141">CID-21141</a>
              </p>
              <strong class="govuk-tag in-progress">last edited: September 2024</strong>
            </dl>

            <dl class="release-desc">
              <dt class="design"><button type="submit" class="button-as-link" name="target-page" value="g/id-assurance-check"><strong>Audit minimised window view</strong></button></dt>
              <dd class="nhsuk-u-margin-0">
                Fix the photo ID sticky styling when window is minimised<br>
              </dd>
              <p class="nhsuk-u-padding-top-3">
                Ticket <a target="_blank" href="https://nhsd-jira.digital.nhs.uk/browse/CID-21162">CID-21162</a>
              </p>
              <strong class="govuk-tag in-progress">last edited: August 2024</strong>
            </dl>

            <dl class="release-desc">
              <dt class="design"><button type="submit" class="button-as-link" name="target-page" value="e/id-checker"><strong>ID not genuine CTA update</strong></button></dt>
              <dd class="nhsuk-u-margin-0">
                Replace 'Decline' button to be ' Move to hold queue' when they select ID is not genuine<br>
              </dd>
              <p class="nhsuk-u-padding-top-3">
                Ticket <a target="_blank" href="https://nhsd-jira.digital.nhs.uk/browse/CID-11709">CID-11709</a>
              </p>
              <strong class="govuk-tag in-progress">last edited: July 2024</strong>
            </dl>

            <dl class="release-desc">
              <dt class="design"><button type="submit" class="button-as-link" name="target-page" value="b/id-checker"><strong>Move to hold queue updates</strong></button></dt>
              <dd class="nhsuk-u-margin-0">
                Move to hold reasons as pre-select drop down list instead of free text box<br>
                Move to hold redesign to open as a modal instead of side bar<br>
              </dd>
              <p class="nhsuk-u-padding-top-3">
                Ticket <a target="_blank" href="https://nhsd-jira.digital.nhs.uk/browse/CID-20981">CID-20981</a>
              </p>
              <strong class="govuk-tag in-progress">last edited: June 2024</strong>
            </dl>

            <dl class="release-desc">
              <dt class="design"><button type="submit" class="button-as-link" name="target-page" value="a/dashboard"><strong>Reverification process</strong></button></dt>
              <dd class="nhsuk-u-margin-0">
                Ability to revoke decisions<br>
                New dashboard design to show pending state<br>
                <p class="nhsuk-u-padding-top-3">
                  Ticket <a target="_blank" href="#">tbc</a>
                </p>
              <strong class="govuk-tag in-progress">last edited: June 2022</strong>
            </dl>
          </div>

        </details>

      </form>

<!--    
//.........................................................
//......AAA.......UU.....UU....DDDDD........I...TTTTTTTTT..
//.....AAAAA.....UUUU...UUUU..DDDDDDDDD....III.TTTTTTTTTT..
//.....AAAAA.....UUUU...UUUU..DDDDDDDDDDD..III.TTTTTTTTTT..
//....AAAAAAA....UUUU...UUUU..DDDDDDDDDDD..III.TTTTTTTTTT..
//....AAAAAAA....UUUU...UUUU..DDDD...DDDDD.III.....TTTT....
//....AAAAAAA....UUUU...UUUU..DDDD....DDDD.III.....TTTT....
//...AAAAAAAAA...UUUU...UUUU..DDDD....DDDD.III.....TTTT....
//...AAAA.AAAA...UUUU...UUUU..DDDD....DDDD.III.....TTTT....
//...AAAAAAAAAA..UUUU...UUUU..DDDD....DDDD.III.....TTTT....
//..AAAAAAAAAAA..UUUU...UUUU..DDDD...DDDDD.III.....TTTT....
//..AAAAAAAAAAA..UUUU...UUUU..DDDD...DDDD..III.....TTTT....
//..AAAAAAAAAAAA.UUUUUUUUUUU..DDDDDDDDDDD..III.....TTTT....
//.AAAAA....AAAA.UUUUUUUUUUU..DDDDDDDDDD...III.....TTTT....
//.AAAA.....AAAA..UUUUUUUUU...DDDDDDDDD....III.....TTTT....
//..................UUUUU..................................
//.........................................................
-->  

      <form action="/" method="post">
        <input type="hidden" name="feature-state" value="audit">
        <details class="nhsuk-details nhsuk-expander version-list">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Audit view
            </span>
          </summary>
          <div class="nhsuk-details__text version-text">
              <dl class="release-desc">
                <dt class="design"><button type="submit" class="button-as-link" name="target-page" value="id-assurance-check"><strong>Assurance audit</strong></button></dt>
                <dd class="nhsuk-u-margin-0">
                  <p>Assurance audit is a process for ID checkers to audit themselves. It is carried out by trained supervisors only.</p>
                  <p>Audit view is not accessed via ID checker dashboard.</p>
                  <p>Spluk randomly selects 10% of the approved checks and generates a list. Supervisors log in to Splunk and copy this list and create links on a spreadsheet. 
                    They then manually assign these to themselves and go over individual checks link by link.
                  </p>
                <strong class="govuk-tag in-progress">last edited: May 2022</strong>
              </dl>
          </div>

        </details>

      </form>      


    </div>
  </div>
{% endblock %}