<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  NHS login ID Checker App
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <span class="nhsuk-caption-l">
               I.D. checker app
      </span>
      <h1>
        NHS login identity verification and matching service
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->

      <p class="nhsuk-body-l">
        A service for ID checkers to check identity documents, perform facial comparisons and match users to their NHS record.
      </p>




      <form action="{{ thisPage }}" method="POST" role="form">


      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Aligned to live
          </span>
        </summary>
        <div class="nhsuk-details__text version-text">
        <dl class="release-desc">
          <dt class="design"><button type="submit" class="button-as-link" name="version" value="g"><strong>Version G</strong></button></dt>
          <dd class="nhsuk-u-margin-0">
          <strong class="govuk-tag in-progress">last edited: February 2020</strong>
        </dl>

      </details>

      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Features in progress
          </span>
        </summary>
        <div class="nhsuk-details__text version-text">

        <dl class="release-desc">
          <dt class="design"><button type="submit" class="button-as-link" name="version" value="h"><strong>Version H</strong></button></dt>
          <dd class="nhsuk-u-margin-0">Adding two rejection reasons: confusion records & PDS issues.<br>
          Hide transcoded video and show the original if transcoded is corrupted/not displaying correctly.<br>
          Addition of selection dropdown to organise items in the holding list.
          </dd>
          <strong class="govuk-tag in-progress">last edited: 23rd March 2021</strong>
        </dl>
          
        </div>

      </details>

      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Features that have gone live
          </span>
        </summary>
        <div class="nhsuk-details__text version-text">

        <dl class="release-desc">
          <dt class="design"><button type="submit" class="button-as-link" name="version" value="g"><strong>Version G</strong></button></dt>
          <dd class="nhsuk-u-margin-0">Show button to download original video.<br>
          Change of final question to include accepting written and signed numbers on manual journey.</dd>
          <strong class="govuk-tag in-progress">last edited: 24th November 2020</strong>
        </dl>

        <dl class="release-desc">
          <dt class="design"><button type="submit" class="button-as-link" name="version" value="f"><strong>Version F</strong></button></dt>
          <dd class="nhsuk-u-margin-0">Show "uplift" tab if user is uplifting from P5-P9 (showing alongside automation tab)</dd>
          <strong class="govuk-tag in-progress">last edited: 14th September 2020</strong>
        </dl>

        <dl class="release-desc">
          <dt class="design"><button type="submit" class="button-as-link" name="version" value="e"><strong>Version E</strong></button></dt>
          <dd class="nhsuk-u-margin-0">Reveal paycasso response codes to ID checkers so they can understand whats happened. (Updated to say 12months as opposed to 6months)</dd>
          <strong class="govuk-tag in-progress">last edited: 20th October 2020</strong>
        </dl>

        <dl class="release-desc">
          <dt class="design"><button type="submit" class="button-as-link" name="version" value="d"><strong>Version D</strong></button></dt>
          <dd class="nhsuk-u-margin-0">ID Checkers can can match names on ID to historic name (CID-8142). <br>
          Record passes automated doc check (CID-7637). <br>
          NHS number re-trace in ID Checker App (DOB) (CID-8124).</dd>
          <strong class="govuk-tag in-progress">last edited: 8th July 2020</strong>
        </dl>
          
        </div>

      </details>


      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Legacy versions
          </span>
        </summary>
        <div class="nhsuk-details__text version-text">

        <dl class="release-desc">
          <dt class="design"><button type="submit" class="button-as-link" name="version" value="c"><strong>Version C</strong></button></dt>
          <dd class="nhsuk-u-margin-0">ID checker doesn't need to check ID if Paycasso has verified it.<br>
          Redesigned PDS retrace UI.<br>
          Redesigned PDS comparison section.</dd>
          <strong class="govuk-tag in-progress">last edited: May 2020</strong>
        </dl>

        <dl class="release-desc">
          <dt class="design"><button type="submit" class="button-as-link" name="version" value="b"><strong>Version B</strong></button></dt>
          <dd class="nhsuk-u-margin-0">Redesigned questions and rejection reasons.</dd>
          <strong class="govuk-tag in-progress">last edited: May 2020</strong>
        </dl>

        <dl class="release-desc">
          <dt class="design"><button type="submit" class="button-as-link" name="version" value="a"><strong>Version A</strong></button></dt>
          <dd class="nhsuk-u-margin-0">Redesigned questions and rejection reasons.</dd>
          <strong class="govuk-tag in-progress">last edited: November 2019</strong>
        </dl>
          
        </div>

      </details>


      </form>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}