
{% extends 'layout.html' %}

{% block content %}

<h1>Dashboard</h1>

<div class="nhsuk-grid-row nhsuk-u-margin-bottom-5">
  <div class="nhsuk-grid-column-one-quarter">
    <div class="idcheck-dash idcheck-dash-{{ queue}}" id="pending">
      <p class="idcheck-dash-heading">Queue</p>
      <div class="idcheck-dash-details">
        <div class="idcheck-dash-number nhsuk-heading-xl">{{ data.prototype.total - data.prototype.count }}</div>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter">
    <div class="idcheck-dash {% if data.prototype.inprogress === 1 %}u-inprogress{% endif %}"id="inprogress" >
      <p class="idcheck-dash-heading">In progress</p>
      <div class="idcheck-dash-details">
        <span class="idcheck-dash-number nhsuk-heading-xl" id="progress-num">{{ data.prototype.inprogress }}</span>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter" href="holding-list"> 
    <div class="idcheck-dash idcheck-dash-{{holding|default('clear') }} {% if data.prototype.inholding === 1 %}u-inholding{% endif %}">
      <p class="idcheck-dash-heading">Holding list</p>
      <div class="idcheck-dash-details">
        <div class="idcheck-dash-number nhsuk-heading-xl">{{ data.prototype.inholding }}</div>
      </div>
    </div>
  </div>
  <div class="nhsuk-grid-column-one-quarter">
    <div class="idcheck-dash">
      <p class="idcheck-dash-heading">Completed today</p>
      <div class="idcheck-dash-details">
        <div class="idcheck-dash-number nhsuk-heading-xl">{{ data.prototype.count - data.prototype.inprogress - data.prototype.inholding}}</div>
      </div>
    </div>
  </div>
</div>



{% if data.prototype.inprogress === 1 %}
  <p>You still have a verification in progress</p>

  <form action="continue" method="POST" role="form" id="continue">
    <a class="nhsuk-button" href="javascript{}:" onclick="document.getElementById('continue').submit(); return false;">Continue verification</a>
  </form>

  <form action="abort-from-dash" method="POST" role="form" id="abort">
    <p><a href="javascript{}:" onclick="document.getElementById('abort').submit(); return false;">Abort</a></p>
  </form>

{% else %}

  <form action="{{ thisPage }}" method="POST" role="form">

    <button class="nhsuk-button">Start next verification</button>

    <div class="{% if data['devMode'] !== 'true' %}js-hidden{% endif %}">

      <hr class="nhsuk-section-break">

      <div class="dev-mode">

        <select id="decline-0" class="nhsuk-select decline-group" id="sort" name="user">
          {% for i in range(0, data.prototype.total) -%}
          <option name="user{{ data.idv[i].index }}" value="{{ data.idv[i].index }}" {% if i === data.prototype.count %}selected{% endif %}>{{ data.idv[i].label }}</option>
          {%- endfor %}
        </select>

      </div>

    </div>

  </form>

  <a href="holding-list">Open holding list</a>

{% endif%}

{% endblock %}
