
{% extends 'layout.html' %}
<link rel="stylesheet" href="https://raw.githubusercontent.com/alphagov/accessible-autocomplete/main/dist/accessible-autocomplete.min.js" />

{% block content %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://raw.githubusercontent.com/alphagov/accessible-autocomplete/main/dist/accessible-autocomplete.min.js"></script>



<div style="text-align: left">

<h1 class="nhsuk-heading-l">Holding list</h1>

<!-- if no records are selected -->
{# <div id="slideout-sendback"  style="text-align: left" data-status="closed">
    <img src="/images/sendbacktomain.png" alt="Feedback" height="36" width="181" id="slideout-sendback__button"/>
    <div id="slideout-sendback_inner" data-status="closed">
            <label class="" for="field6">There are no records selected. Choose a record to get started.</label>
    </div>
</div> #}

<!-- if there is a timeout or API error -->
{# <div id="slideout-sendback"  style="text-align: left" data-status="closed">
    <img src="/images/sendbacktomain.png" alt="Feedback" height="36" width="181" id="slideout-sendback__button"/>
    <div id="slideout-sendback_inner" data-status="closed">
            <label class="" for="field6"></label>
    </div>
</div> #}

<!-- if records are selected -->
<div id="slideout-sendback"  style="text-align: left" data-status="closed">
    <img src="/images/sendbacktomain.png" alt="Feedback" height="36" width="181" id="slideout-sendback__button"/>
    <div id="slideout-sendback_inner" data-status="closed">
            <h3>Send back to main</h3>
            <label class="" for="field6">Are you sure you want to move <b>[XX]</b> records?</label>
    <div id="slideout-sendback__button2">
    <button class="nhsuk-button--reverse nhsuk-button--ers movestyling deletebutton" data-status="closed" onclick="myFunction()">Yes, move these records</button>
<!-- if you want the error to show instead, comment out above and bring in below -->
    {# <button class="nhsuk-button--reverse nhsuk-button--ers movestyling deletebutton" data-status="closed" onclick="myFunctionError()">Yes, move these records</button> #}

    </div>
    </div>
</div>







    <table id="employee_grid" class="table table-condensed table-hover table-striped bootgrid-table" width="60%" cellspacing="0">
        <thead>
            <tr>
                <th style="width:50px">
                        <div class="checkbox table-checkbox">
                            Choose record
                        </div> 
                </th>
                <th>Verification ID</th>
                <th>Status</th>
                <th>Added by</th>
                <th>Reason</th>
                <th>Submitted</th>
                <th>Action</th>
            </tr>
        </thead>


                <tbody>

                    <tr data-row-id="1">
                                <td>
                                <div class="checkbox table-checkbox">
                                    <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
                                    <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="1" id="organisation" name="ck1" type="checkbox" value="ck1">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
                                    </label>
                                    </div> 
                                </div>
                                </td>
                                <td>9a268036</td>
                                <td><strong class="nhsuk-tag unopened">UNOPENED</strong></td>
                                <td>Alex Church</td>
                                <td> Potential fraud doc issue</td>
                                <td>6 days, 2 hours, 5 minutes</td>
                                <td><a href="#">Open</a></td>


                            </tr>

                    {# 
                    <div class="modal-overlay" id="modal_window" aria-hidden="true" role="dialog" aria-labelledby="modal_title">
                        <div class="modal-content" id="modal_holder" role="document">
                        <p> dhgjfdhgjfd </p>
                    </div>
                    </div> #}




                        <tr data-row-id="2">
                                <td><div class="checkbox table-checkbox">
                                <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">

                                <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="2" id="organisation" name="ck1" type="checkbox" value="ck1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
                                </label>
                                </div> 

                                </div></td>
                            <td>c8275o2	</td>
                            <td><strong class="nhsuk-tag with-me">WITH ME</strong></td>
                            <td>Maisy Kennedy</td>
                            <td> PDS review missing middle name, post codes don't match	</td>
                            <td>5 days, 4 hours, 0 minutes</td>
                            <td><a href="#">Reopen</a><br> 
                                <div class="container">
                                    <a class="btn" href="#open-modal">Reassign</a>
                                </div>
                                <div class="nhsuk-form-group">
                                    <div id="open-modal" class="modal-window"><div>
                                        <a href="#" title="Close" class="modal-close">Close</a>
                                            <h1>Reassign record</h1>
                                                <div class="nhsuk-grid-row">
                                                    <div class="nhsuk-grid-column-full">
                                                        <p>This record is currently assigned to <strong>Alex Church</strong>. </p>



<label for="my-autocomplete">Select the ID Checker</label>
<div class="autocomplete__wrapper">
<div id="my-autocomplete-container"> 
<input aria-expanded="false" aria-owns="autocomplete-showAllValues__listbox" aria-autocomplete="list" aria-describedby="autocomplete-showAllValues__assistiveHint" autocomplete="off" class="autocomplete__input autocomplete__input--show-all-values" id="my-autocomplete" name="input-autocomplete" placeholder="" type="text" role="combobox">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="autocomplete__dropdown-arrow-down" focusable="false"><g stroke="none" fill="none" fill-rule="evenodd"><polygon fill="#000000" points="0 0 22 0 11 17"></polygon></g></svg>
<ul class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--hidden" id="autocomplete-showAllValues__listbox" role="listbox">
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--0" role="option" tabindex="-1" aria-posinset="1" aria-setsize="34">Afghanistan</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--1" role="option" tabindex="-1" aria-posinset="2" aria-setsize="34">Akrotiri</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--2" role="option" tabindex="-1" aria-posinset="3" aria-setsize="34">Albania</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--3" role="option" tabindex="-1" aria-posinset="4" aria-setsize="34">Algeria</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--4" role="option" tabindex="-1" aria-posinset="5" aria-setsize="34">American Samoa</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--5" role="option" tabindex="-1" aria-posinset="6" aria-setsize="34">Andorra</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--6" role="option" tabindex="-1" aria-posinset="7" aria-setsize="34">Angola</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--7" role="option" tabindex="-1" aria-posinset="8" aria-setsize="34">Anguilla</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--8" role="option" tabindex="-1" aria-posinset="9" aria-setsize="34">Antarctica</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--9" role="option" tabindex="-1" aria-posinset="10" aria-setsize="34">Antigua and Barbuda</li>
</ul>
<span id="autocomplete-showAllValues__assistiveHint" style="display: none;">When autocomplete results are available use up and down arrows to review and enter to select.  Touch device users, explore by touch or with swipe gestures.</span></div>
        
{# <div class="autocomplete__wrapper">
<div style="border: 0px; clip: rect(0px, 0px, 0px, 0px); height: 1px; margin-bottom: -1px; margin-right: -1px; overflow: hidden; padding: 0px; position: absolute; white-space: nowrap; width: 1px;">
<div id="autocomplete-showAllValues__status--A" role="status" aria-atomic="true" aria-live="polite"></div>
<div id="autocomplete-showAllValues__status--B" role="status" aria-atomic="true" aria-live="polite"></div>
</div>
<input aria-expanded="false" aria-owns="autocomplete-showAllValues__listbox" aria-autocomplete="list" aria-describedby="autocomplete-showAllValues__assistiveHint" autocomplete="off" class="autocomplete__input autocomplete__input--show-all-values" id="autocomplete-showAllValues" name="input-autocomplete" placeholder="" type="text" role="combobox">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="autocomplete__dropdown-arrow-down" focusable="false"><g stroke="none" fill="none" fill-rule="evenodd"><polygon fill="#000000" points="0 0 22 0 11 17"></polygon></g></svg>
<ul class="autocomplete__menu autocomplete__menu--inline autocomplete__menu--hidden" id="autocomplete-showAllValues__listbox" role="listbox">
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--0" role="option" tabindex="-1" aria-posinset="1" aria-setsize="34">Afghanistan</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--1" role="option" tabindex="-1" aria-posinset="2" aria-setsize="34">Akrotiri</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--2" role="option" tabindex="-1" aria-posinset="3" aria-setsize="34">Albania</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--3" role="option" tabindex="-1" aria-posinset="4" aria-setsize="34">Algeria</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--4" role="option" tabindex="-1" aria-posinset="5" aria-setsize="34">American Samoa</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--5" role="option" tabindex="-1" aria-posinset="6" aria-setsize="34">Andorra</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--6" role="option" tabindex="-1" aria-posinset="7" aria-setsize="34">Angola</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--7" role="option" tabindex="-1" aria-posinset="8" aria-setsize="34">Anguilla</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--8" role="option" tabindex="-1" aria-posinset="9" aria-setsize="34">Antarctica</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--9" role="option" tabindex="-1" aria-posinset="10" aria-setsize="34">Antigua and Barbuda</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--10" role="option" tabindex="-1" aria-posinset="11" aria-setsize="34">Argentina</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--11" role="option" tabindex="-1" aria-posinset="12" aria-setsize="34">Armenia</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--12" role="option" tabindex="-1" aria-posinset="13" aria-setsize="34">Aruba</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--13" role="option" tabindex="-1" aria-posinset="14" aria-setsize="34">Ashmore and Cartier Islands</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--14" role="option" tabindex="-1" aria-posinset="15" aria-setsize="34">Australia</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--15" role="option" tabindex="-1" aria-posinset="16" aria-setsize="34">Austria</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--16" role="option" tabindex="-1" aria-posinset="17" aria-setsize="34">Azerbaijan</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--17" role="option" tabindex="-1" aria-posinset="18" aria-setsize="34">Bahamas, The</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--18" role="option" tabindex="-1" aria-posinset="19" aria-setsize="34">Bahrain</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--19" role="option" tabindex="-1" aria-posinset="20" aria-setsize="34">Bangladesh</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--20" role="option" tabindex="-1" aria-posinset="21" aria-setsize="34">Barbados</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--21" role="option" tabindex="-1" aria-posinset="22" aria-setsize="34">Bassas da India</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--22" role="option" tabindex="-1" aria-posinset="23" aria-setsize="34">Belarus</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--23" role="option" tabindex="-1" aria-posinset="24" aria-setsize="34">Belgium</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--24" role="option" tabindex="-1" aria-posinset="25" aria-setsize="34">Belize</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--25" role="option" tabindex="-1" aria-posinset="26" aria-setsize="34">Benin</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--26" role="option" tabindex="-1" aria-posinset="27" aria-setsize="34">Bermuda</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--27" role="option" tabindex="-1" aria-posinset="28" aria-setsize="34">Bhutan</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--28" role="option" tabindex="-1" aria-posinset="29" aria-setsize="34">Bolivia</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--29" role="option" tabindex="-1" aria-posinset="30" aria-setsize="34">Bosnia and Herzegovina</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--30" role="option" tabindex="-1" aria-posinset="31" aria-setsize="34">Botswana</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--31" role="option" tabindex="-1" aria-posinset="32" aria-setsize="34">Bouvet Island</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--32" role="option" tabindex="-1" aria-posinset="33" aria-setsize="34">Brazil</li>
<li aria-selected="false" class="autocomplete__option autocomplete__option--odd" id="autocomplete-showAllValues__option--33" role="option" tabindex="-1" aria-posinset="34" aria-setsize="34">British Indian Ocean Territory</li>
<li aria-selected="false" class="autocomplete__option" id="autocomplete-showAllValues__option--34" role="option" tabindex="-1" aria-posinset="35" aria-setsize="34">British Virgin Islands</li>
</ul>
<span id="autocomplete-showAllValues__assistiveHint" style="display: none;">When autocomplete results are available use up and down arrows to review and enter to select.  Touch device users, explore by touch or with swipe gestures.</span></div>
         #}                                                                                                        
                                                       {#  <label for="my-autocomplete">Type the name of the person you want to reassign this record to.</label>
                                                            <div id="my-autocomplete-container"> 
                                                            <input list="checkers" class="nhsuk-select" name="checker" id="checker">
                                                                <select id="checkers">
                                                                    <option value="Rhonda Miller">Rhonda Miller</option>
                                                                    <option value="Cerys Adams">Cerys Adams</option>
                                                                    <option value="Ben Jones">Ben Jones</option>
                                                                    <option value="Joseph Mitchell">Joseph Mitchell</option>
                                                                    <option value="Cherlize Mayans">Cherlize Mayans</option>
                                                                    <option value="Tomas Fleetwood">Tomas Fleetwood</option>
                                                                    <option value="Maisy Kennedy">Maisy Kennedy</option>
                                                                    <option value="Craig Hinchcliffe">Craig Hinchcliffe</option>
                                                                    <option value="Alex Church">Alex Church</option>
                                                                    <option value="James Chappel">James Chappel</option>
                                                                    <option value="Maria Walker">Maria Walker</option>
                                                                    <option value="Gabriel Logan">Gabriel Logan</option>
                                                                </select> 
                                                            </input>
                                                            </div>
                                                            

                                                                <div class="nhsuk-grid-row" style="margin-top: 20px; display: none" id="check">
                                                                    <div class="nhsuk-grid-column-full">
                                                                        <div class="checkbox table-checkbox">
                                                                            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
                                                                            <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="1" id="reassign" name="ck1" type="checkbox" value="ck1">
                                                                            <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-hint" for="reassign">Reassign all records held by <strong>Alex Church</strong> to <strong id="show">""</strong>
                                                                            <div id="show" style="display: flex;justify-content: center; margin-top: 20px;"></div>
                                                                            </label>
                                                                            </div> 
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                    
                                                            <a href="#" onclick="myFunctionAssignError()" class="nhsuk-button nhsuk-button--ers" style="margin-top: 20px">Confirm</a> 
                                                    </div> #}
                                </td>
                        
                        </td>
                        </tr>


                        <tr data-row-id="3">
                    <td><div class="checkbox table-checkbox">
                                <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
                                <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="3" id="organisation" name="ck1" type="checkbox" value="ck1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
                                </label>
                                </div> 

                                </div></td>         
                            <td>7o63848a	</td>
                            <td><strong class="nhsuk-tag with-checker">WITH Alex Church</strong></td>
                            <td>Tomas Fleetwood</td>
                            <td> Potential safeguarding</td>
                            <td>2 days, 0 hours, 9 minutes</td>
                            <td><a href="#">Reassign</a>
                                </td>
                        </tr>

                        <tr data-row-id="4">
                    <td><div class="checkbox table-checkbox">
                                <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">

                                <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="4" id="organisation" name="ck1" type="checkbox" value="ck1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
                                </label>
                                </div> 

                                </div></td>
                            <td>7d8299a	</td>
                            <td><strong class="nhsuk-tag unopened">UNOPENED</strong></td>
                            <td>Cerys Adams</td>
                            <td> Automation issue expiry date in 10 months</td>
                            <td>4 days, 9 hours, 5 minutes	</td>
                            <td><a href="#">Open</a></td>
                        </tr>


                        {# <tr data-row-id="5">
                    <td><div class="checkbox table-checkbox">
                                <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
                                <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="5" id="organisation" name="ck1" type="checkbox" value="ck1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
                                </label>
                                </div> 

                    </div></td>
                            <td>5760d622	</td>
                            <td><strong class="nhsuk-tag with-checker">WITH JOHN GREEN</strong></td>
                            <td>3d 2h 2m</td>
                            <td>Anna Hobson</td>
                            <td> Potential safeguarding <br> Auto uplift, doc issue</td>
                            <td> 
                                <div class="container">
                                                <a class="btn" href="#open-modal">Reassign</a>
                                            </div>
                                        </div>
                                            <div id="open-modal" class="modal-window"><div>
                                                <a href="#" title="Close" class="modal-close">Close</a>
                                                    <h1>Reassign to:</h1>
                                                    <input list="checkers" class="nhsuk-select" name="checker" id="checker">
                                                    <datalist id="checkers">
                                                            <option value="Gareth Sheard">Gareth Sheard</option>
                                                            <option value="Charlotte Wilson">Charlotte Wilson</option>
                                                            <option value="Ben Jones">Ben Jones</option>
                                                            <option value="Joseph Mitchell">Joseph Mitchell</option>
                                                            <option value="Cherlize Mayans">Cherlize Mayans</option>
                                                            <option value="Tommy Fleetwood">Tommy Fleetwood</option>
                                                            <option value="Bruce Willis">Bruce Willis</option>
                                                            <option value="Craig Hinchcliffe">Craig Hinchcliffe</option>
                                                            <option value="Alec Whitworth">Alec Whitworth</option>
                                                            <option value="James Chappel">James Chappel</option>
                                                            <option value="Maria Walker">Maria Walker</option>
                                                            <option value="Gabby Logan">Gabby Logan</option>
                                                    </datalist>
                                                    <br>
                                                    <br>
                                                    <button class="nhsuk-button nhsuk-button--ers">Confirm</button>

                                                </div>
                                            </div>
                                </td>
                        </tr> #}


                        



                    </tbody>
                    </table>

    <div id="myDIV" style="display: none">
        <section class="notification animateOpen">
        <p class="noti-close" id='noti-close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>&times</p>
                                <img src="/images/IDChecker-tick.svg" height="75" width="75" style="margin-right: 20px">
                                <p style="padding-top: 20px"> <strong style="color:	#007f3b"> Records moved</strong> <br> <b>[XX]</b> records have been moved. </p>
        </section>
    </div>


<!-- if there is a timeout or API error -->
    <div id="myDIVerror" style="display: none">
        <section class="notification_error animateOpen">
        <p class="noti-close" id='noti-close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>&times</p>
                                <img src="/images/IDChecker-alert.svg" height="75" width="75" style="margin-right: 20px"/>
                                <p style="padding-top: 20px"> <strong style="color:	#d5281b">  An error occurred</strong> <br> Some records have not been moved. Refresh the page and try again. </p>
        </section>
    </div>

   <div id="myDIVassign" style="display: none">
        <section class="notification_assign animateOpen">
        <p class="noti-close" id='noti-close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>&times</p>
                                <img src="/images/IDChecker-tick.svg" height="75" width="75" style="margin-right: 20px">
                                <p style="padding-top: 20px"> <strong style="color:	#007f3b"> Record reassigned</strong> <br> This record has been reassigned to <b>[XXX]</b>. </p>

        </section>
    </div>

       <div id="myDIVassignerror" style="display: none">
        <section class="notification_assign_error animateOpen">
        <p class="noti-close" id='noti-close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>&times</p>
                                <img src="/images/IDChecker-alert.svg" height="75" width="75" style="margin-right: 20px"/>
                                <p style="padding-top: 20px"> <strong style="color:	#d5281b"> An error occurred</strong> <br> This record has not been reassigned. </p>

        </section>
    </div>





                                    <script>
                                    $('#checkers').on('input', function () {
                                        $('#show').text($('#checkers').val());
                                    })
                                    </script>


<script type="text/javascript" src="assets/javascript/accessible-autocomplete.min.js"></script>
<script type="text/javascript">

                                                        accessibleAutocomplete.enhanceSelectElement({
  selectElement: document.querySelector('#location-picker')
})

</script>


<script type="text/javascript">


addSlideoutListener()

    setTimeout(function () {
        document.getElementById('slideout-sendback-value_tab_spinner').style.display = 'none'
    }, 4000)

    setTimeout(function () {
        document.getElementById('slideout-sendback-value_tab_value').style.display = 'block'
    }, 4000)


    function addSlideoutListener() {
        if (document.getElementById('slideout-sendback__button')) {
            var selects = document.getElementById('slideout-sendback__button')
            selects.addEventListener('click', function (event) {
                if (document.getElementById('slideout-sendback').getAttribute('data-status') === 'closed') {
                    console.log('slideout-sendback')
                    document.getElementById('slideout-sendback').setAttribute('data-status', 'open')
                    document.getElementById('slideout-sendback_inner').setAttribute('data-status', 'open')
                } else {
                    document.getElementById('slideout-sendback').setAttribute('data-status', 'closed')
                    document.getElementById('slideout-sendback_inner').setAttribute('data-status', 'closed')
                }
            })
        }
    }

addSlideoutListener2()

    setTimeout(function () {
        document.getElementById('slideout-sendback-value_tab_spinner').style.display = 'none'
    }, 4000)

    setTimeout(function () {
        document.getElementById('slideout-sendback-value_tab_value').style.display = 'block'
    }, 4000)


    function addSlideoutListener2() {
        if (document.getElementById('slideout-sendback__button2')) {
            var selects = document.getElementById('slideout-sendback__button2')
            selects.addEventListener('click', function (event) {
                if (document.getElementById('slideout-sendback').getAttribute('data-status') === 'closed') {
                    console.log('slideout-sendback')
                    document.getElementById('slideout-sendback').setAttribute('data-status', 'open')
                    document.getElementById('slideout-sendback_inner').setAttribute('data-status', 'open')
                } else {
                    document.getElementById('slideout-sendback').setAttribute('data-status', 'closed')
                    document.getElementById('slideout-sendback_inner').setAttribute('data-status', 'closed')
                }
            })
        }
    }

</script>


    
{% endblock %}
