
{% extends 'layout.html' %}
<link rel="stylesheet" href="accessible-autocomplete.min.scss" />

{% block content %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div style="text-align: left">

<h1 class="nhsuk-heading-l">Holding list</h1>

<!-- if no records are selected -->
{# <div id="slideout-sendback"  style="text-align: left" data-status="closed">
    <img src="/images/sendbacktomain.png" alt="Feedback" height="36" width="181" id="slideout-sendback__button"/>
    <div id="slideout-sendback_inner" data-status="closed">
            <label class="" for="field6">There are no records selected. Choose a record to get started.</label>
    </div>
</div> #}

<!-- if there is a timeout or API error -->
{# <div id="slideout-sendback"  style="text-align: left" data-status="closed">
    <img src="/images/sendbacktomain.png" alt="Feedback" height="36" width="181" id="slideout-sendback__button"/>
    <div id="slideout-sendback_inner" data-status="closed">
            <label class="" for="field6"></label>
    </div>
</div> #}

<!-- if records are selected -->
<div id="slideout-sendback"  style="text-align: left" data-status="closed">
    <img src="/images/sendbacktomain.png" alt="Feedback" height="36" width="181" id="slideout-sendback__button"/>
    <div id="slideout-sendback_inner" data-status="closed">
            <h3>Send back to main</h3>
            <label class="" for="field6">Are you sure you want to move <b>[XX]</b> records?</label>
    <div id="slideout-sendback__button2">
    <button class="nhsuk-button--reverse nhsuk-button--ers movestyling deletebutton" data-status="closed" onclick="myFunction()">Yes, move these records</button>
<!-- if you want the error to show instead, comment out above and bring in below -->
    {# <button class="nhsuk-button--reverse nhsuk-button--ers movestyling deletebutton" data-status="closed" onclick="myFunctionError()">Yes, move these records</button> #}

    </div>
    </div>
</div>







    <table id="employee_grid" class="table table-condensed table-hover table-striped bootgrid-table" width="60%" cellspacing="0">
        <thead>
            <tr>
                <th style="width:50px">
                        <div class="checkbox table-checkbox">
                            Choose record
                        </div> 
                </th>
                <th>Status</th>
                <th>Added by</th>
                <th>Reason</th>
                <th>Submitted</th>
                                <th>Verification ID</th>
                <th>Action</th>
            </tr>
        </thead>


                <tbody>

                    <tr data-row-id="1">
                                <td>
                                <div class="checkbox table-checkbox">
                                    <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
                                    <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="1" id="organisation" name="ck1" type="checkbox" value="ck1">
                                    <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
                                    </label>
                                    </div> 
                                </div>
                                </td>
                                <td><strong class="nhsuk-tag unopened">UNOPENED</strong></td>
                                <td>Alex Church</td>
                                <td> Potential fraud doc issue</td>
                                <td>6d 2h 5m</td>
                                <td>9a268036</td>
                                <td><a href="#">Open</a></td>


                            </tr>

                    {# 
                    <div class="modal-overlay" id="modal_window" aria-hidden="true" role="dialog" aria-labelledby="modal_title">
                        <div class="modal-content" id="modal_holder" role="document">
                        <p> dhgjfdhgjfd </p>
                    </div>
                    </div> #}




                        <tr data-row-id="2">
                                <td><div class="checkbox table-checkbox">
                                <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">

                                <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="2" id="organisation" name="ck1" type="checkbox" value="ck1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
                                </label>
                                </div> 

                                </div></td>
                            
                            <td><strong class="nhsuk-tag with-me">WITH ME</strong></td>
                            <td>Maisy Kennedy</td>
                            <td> PDS review missing middle name, post codes don't match	</td>
                            <td>5d 4h 0m</td>
                            <td>c8275o2	</td>
                            <td><a href="#">Reopen</a><br> 
                                <div class="container">
                                    <a class="btn" href="#open-reassign-1">Reassign</a>
                                </div>
                                
                                <div class="nhsuk-form-group">
                                    <div id="open-reassign-1" class="modal-window"><div>
                                        <a href="#" title="Close" class="modal-close">Close</a>
                                            <h1>Reassign record</h1>
                                                <div class="nhsuk-grid-row">
                                                    <div class="nhsuk-grid-column-full">
                                                        <p>This record is currently assigned to <strong>you</strong>. </p>

                                                        <p>Type the name of the person you want to reassign this record to.</p>

                                                        <label for="my-autocomplete"></label>
                                                        <div class="autocomplete__wrapper">
                                                        <div id="my-autocomplete-container">
                                                        <span id="autocomplete-showAllValues__assistiveHint" style="display: none;">When autocomplete results are available use up and down arrows to review and enter to select.  Touch device users, explore by touch or with swipe gestures.</span>
                                                        </div>
                                                        </div>

                                                                <div class="nhsuk-grid-row" style="margin-top: 20px; display: none" id="reassign-all">
                                                                    <div class="nhsuk-grid-column-full">
                                                                        <div class="checkbox table-checkbox">
                                                                            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
                                                                            <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="1" id="reassign-checkbox" name="ck1" type="checkbox" value="ck1">
                                                                            <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-hint" for="reassign-checkbox">Reassign all records held by <strong>you</strong> to <strong id="selected-name"></strong>
                                                                            <div id="show" style="display: flex;justify-content: center; margin-top: 20px;"></div>
                                                                            </label>
                                                                            </div> 
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            <a href="#" onclick="myFunctionAssign()" class="nhsuk-button nhsuk-button--ers" style="margin-top: 20px">Confirm</a> 
                                </td>
                        </tr>


                        <tr data-row-id="3">
                    <td><div class="checkbox table-checkbox">
                                <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
                                <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="3" id="organisation" name="ck1" type="checkbox" value="ck1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
                                </label>
                                </div> 

                                </div></td>         
                            <td><strong class="nhsuk-tag with-checker">WITH Alex Church</strong></td>
                            <td>Tomas Fleetwood</td>
                            <td> Potential safeguarding</td>
                            <td>2d 0h 9m</td>
                            <td>7o63848a	</td>
                            <td><a class="btn" href="#open-reassign-2">Reassign</a>
                                
                                <div class="nhsuk-form-group">
                                    <div id="open-reassign-2" class="modal-window"><div>
                                        <a href="#" title="Close" class="modal-close">Close</a>
                                            <h1>Reassign record</h1>
                                                <div class="nhsuk-grid-row">
                                                    <div class="nhsuk-grid-column-full">
                                                        <p>This record is currently assigned to <strong>Alex Church</strong>. </p>

                                                        <p>Type the name of the person you want to reassign this record to.</p>

                                                        <label for="my-autocomplete-2"></label>
                                                        <div class="autocomplete__wrapper">
                                                        <div id="my-autocomplete-container-2">
                                                        <span id="autocomplete-showAllValues__assistiveHint" style="display: none;">When autocomplete results are available use up and down arrows to review and enter to select.  Touch device users, explore by touch or with swipe gestures.</span></div>
                                                        </div>

                                                                <div class="nhsuk-grid-row" style="margin-top: 20px; display: none" id="reassign-all-2">
                                                                    <div class="nhsuk-grid-column-full">
                                                                        <div class="checkbox table-checkbox">
                                                                            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
                                                                            <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="1" id="reassign-checkbox-2" name="ck1" type="checkbox" value="ck1">
                                                                            <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-hint" for="reassign-checkbox">Reassign all records held by <strong>Alex Church</strong> to <strong id="selected-name-2"></strong>
                                                                            <div id="show" style="display: flex;justify-content: center; margin-top: 20px;"></div>
                                                                            </label>
                                                                            </div> 
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            <a href="#" onclick="myFunctionAssignMultiple()" class="nhsuk-button nhsuk-button--ers" style="margin-top: 20px">Confirm</a> 
                                </td>
                        </tr>

                        <tr data-row-id="4">
                    <td><div class="checkbox table-checkbox">
                                <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">

                                <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="4" id="organisation" name="ck1" type="checkbox" value="ck1">
                                <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
                                </label>
                                </div> 

                                </div></td>
                            <td><strong class="nhsuk-tag unopened">UNOPENED</strong></td>
                            <td>Cerys Adams</td>
                            <td> Automation issue expiry date in 10 months</td>
                            <td>4d 9h 5m</td>
                            <td>7d8299a	</td>
                            <td><a href="#">Open</a></td>
                        </tr>


                        



                    </tbody>
                    </table>

    <div id="myDIV" style="display: none">
        <section class="notification animateOpen">
        <p class="noti-close" id='noti-close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>&times</p>
                                <img src="/images/IDChecker-tick.svg" height="75" width="75" style="margin-right: 20px">
                                <p style="padding-top: 20px"> <strong style="color:	#007f3b"> Records moved</strong> <br> <b>[XX]</b> records have been moved. </p>
        </section>
    </div>


<!-- if there is a timeout or API error -->
    <div id="myDIVerror" style="display: none">
        <section class="notification_error animateOpen">
        <p class="noti-close" id='noti-close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>&times</p>
                                <img src="/images/IDChecker-alert.svg" height="75" width="75" style="margin-right: 20px"/>
                                <p style="padding-top: 20px"> <strong style="color:	#d5281b">  An error occurred</strong> <br> Some records have not been moved. Refresh the page and try again. </p>
        </section>
    </div>

   <div id="myDIVassign" style="display: none">
        <section class="notification_assign animateOpen">
        <p class="noti-close" id='noti-close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>&times</p>
                                <img src="/images/IDChecker-tick.svg" height="75" width="75" style="margin-right: 20px">
                                <p style="padding-top: 20px"> <strong style="color:	#007f3b"> Record reassigned</strong> <br> This record has been reassigned to <b>[XXX]</b>. </p>

        </section>
    </div>

       <div id="myDIVassignerror" style="display: none">
        <section class="notification_assign_error animateOpen">
        <p class="noti-close" id='noti-close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>&times</p>
                                <img src="/images/IDChecker-alert.svg" height="75" width="75" style="margin-right: 20px"/>
                                <p style="padding-top: 20px"> <strong style="color:	#d5281b"> An error occurred</strong> <br> This record has not been reassigned. </p>

        </section>
    </div>

       <div id="myDIVassign-multiple" style="display: none">
        <section class="notification_assign animateOpen">
        <p class="noti-close" id='noti-close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>&times</p>
                                <img src="/images/IDChecker-tick.svg" height="75" width="75" style="margin-right: 20px">
                                <p style="padding-top: 20px"> <strong style="color:	#007f3b"> Records reassigned</strong> <br> YYY records have been reassigned to <b>[XXX]</b>. </p>

        </section>
    </div>

       <div id="myDIVassignerror-multiple" style="display: none">
        <section class="notification_assign_error animateOpen">
        <p class="noti-close" id='noti-close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>&times</p>
                                <img src="/images/IDChecker-alert.svg" height="75" width="75" style="margin-right: 20px"/>
                                <p style="padding-top: 20px"> <strong style="color:	#d5281b"> An error occurred</strong> <br> YYY records have not been reassigned. </p>

        </section>
    </div>





                                    

<script type="text/javascript">

 accessibleAutocomplete.enhanceSelectElement({
  selectElement: document.querySelector('#location-picker')
})

</script>

                                    <script type="text/javascript">
                                    $('#my-autocomplete').on('input', function () {
                                        $('#show').text($('#my-autocomplete').val());
                                    })
                                    </script>


<script type="text/javascript">


addSlideoutListener()

    setTimeout(function () {
        document.getElementById('slideout-sendback-value_tab_spinner').style.display = 'none'
    }, 4000)

    setTimeout(function () {
        document.getElementById('slideout-sendback-value_tab_value').style.display = 'block'
    }, 4000)


    function addSlideoutListener() {
        if (document.getElementById('slideout-sendback__button')) {
            var selects = document.getElementById('slideout-sendback__button')
            selects.addEventListener('click', function (event) {
                if (document.getElementById('slideout-sendback').getAttribute('data-status') === 'closed') {
                    console.log('slideout-sendback')
                    document.getElementById('slideout-sendback').setAttribute('data-status', 'open')
                    document.getElementById('slideout-sendback_inner').setAttribute('data-status', 'open')
                } else {
                    document.getElementById('slideout-sendback').setAttribute('data-status', 'closed')
                    document.getElementById('slideout-sendback_inner').setAttribute('data-status', 'closed')
                }
            })
        }
    }

addSlideoutListener2()

    setTimeout(function () {
        document.getElementById('slideout-sendback-value_tab_spinner').style.display = 'none'
    }, 4000)

    setTimeout(function () {
        document.getElementById('slideout-sendback-value_tab_value').style.display = 'block'
    }, 4000)


    function addSlideoutListener2() {
        if (document.getElementById('slideout-sendback__button2')) {
            var selects = document.getElementById('slideout-sendback__button2')
            selects.addEventListener('click', function (event) {
                if (document.getElementById('slideout-sendback').getAttribute('data-status') === 'closed') {
                    console.log('slideout-sendback')
                    document.getElementById('slideout-sendback').setAttribute('data-status', 'open')
                    document.getElementById('slideout-sendback_inner').setAttribute('data-status', 'open')
                } else {
                    document.getElementById('slideout-sendback').setAttribute('data-status', 'closed')
                    document.getElementById('slideout-sendback_inner').setAttribute('data-status', 'closed')
                }
            })
        }
    }

</script>


    
{% endblock %}
