
{% extends 'layout.html' %}

{% block content %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 


<div style="text-align: left">

<h1 class="nhsuk-heading-l">Holding list</h1>




<div id="slideout-sendback"  style="text-align: left" data-status="closed">
    <img src="/images/sendbacktomain.png" alt="Feedback" height="36" width="181" id="slideout-sendback__button"/>
    <div id="slideout-sendback_inner" data-status="closed">
            <h3>Send back to main queue</h3>
            <label class="" for="field6">Content TBC - Are you sure you want to move the selected records to the main queue?</label>
            <div>
            <button class="nhsuk-button--reverse nhsuk-button--ers deletebutton" style="line-height:1.5; font-weight:800">I am sure yes move</button></div>
    </div>
</div>




<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


     {# <select class="nhsuk-select" id="select-1" name="select-1" style="margin-top: 0px;">
    <option value="1">Potential fraud</option>
    <option value="2">Potential safeguarding</option>
    <option value="3">No document example</option>
    <option value="4">Potential PDS duplicate</option>
    <option value="5">Potential PDS confusion</option>
    <option value="6">PDS Review - spelling mistake</option>
    <option value="7">PDS Review - shortened (name/ nickname)</option>
    <option value="8">PDS Review - names (switched)</option>
    <option value="9">PDS Review - names missing</option>
    <option value="10">System issue</option>
    <option value="11">Automation issue</option>
    <option value="12">Other</option>
  </select>
     #}
  </div>
</div>
</div>



<table id="employee_grid" class="table table-condensed table-hover table-striped bootgrid-table" width="60%" cellspacing="0">
   <thead>
      <tr>
         <th style="width:50px">
         <div class="checkbox table-checkbox">
{#             <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
              <input class="nhsuk-checkboxes__input selectall" id="organisation" name="ck1" type="checkbox" value="ck1">
              <label class="nhsuk-label nhsuk-checkboxes__label" style="font-weight: bold" for="organisation"> 
              </label> #}
              Select record
            
            </div> 
        </div>
        </th>




         <th>Verification ID</th>
         <th style="width:220px">Status</th>
          <th>Submitted</th>
          <th>Added by</th>
         <th>Reason</th>
         <th>Action</th>


      </tr>
   </thead>
   <tbody>

<tr data-row-id="1">
            <td><div class="checkbox table-checkbox">
                <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
                <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="1" id="organisation" name="ck1" type="checkbox" value="ck1">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
                </label>
                </div> 
                </div></td>
            <td>9a268036	</td>
            <td><strong class="nhsuk-tag with-checker">WITH LYDIA DYER</strong></td>
            <td>6d 2h 5m</td>
            <td>Joanna Leeming</td>
            <td> Potential fraud <br> Auto uplift, doc issue</td>
            <td> 
                    <div class="container">
                        <div class="interior">
                            <a class="btn" href="#open-modal">Re-assign</a>
                        </div>
                    </div>

                         <div id="open-modal" class="modal-window"><div>
                            <a href="#" title="Close" class="modal-close">Close</a>
                                <h1>Re-assign to:</h1>
                                <input list="checkers" class="nhsuk-select" name="checker" id="checker">
                                <datalist id="checkers">
                                        <option value="Gareth Sheard">Gareth Sheard</option>
                                        <option value="Charlotte Wilson">Charlotte Wilson</option>
                                        <option value="Ben Jones">Ben Jones</option>
                                        <option value="Joseph Mitchell">Joseph Mitchell</option>
                                        <option value="Cherlize Mayans">Cherlize Mayans</option>
                                        <option value="Tommy Fleetwood">Tommy Fleetwood</option>
                                        <option value="Bruce Willis">Bruce Willis</option>
                                        <option value="Craig Hinchcliffe">Craig Hinchcliffe</option>
                                        <option value="Alec Whitworth">Alec Whitworth</option>
                                        <option value="James Chappel">James Chappel</option>
                                        <option value="Maria Walker">Maria Walker</option>
                                        <option value="Gabby Logan">Gabby Logan</option>
                                </datalist>
                                <br>
                                <br>
                                <button class="nhsuk-button nhsuk-button--ers">Confirm</button> 

                            </div>
                        </div>
            </td>
 </tr>

{# 
<div class="modal-overlay" id="modal_window" aria-hidden="true" role="dialog" aria-labelledby="modal_title">
    <div class="modal-content" id="modal_holder" role="document">
    <p> dhgjfdhgjfd </p>
</div>
</div> #}




      <tr data-row-id="2">
            <td><div class="checkbox table-checkbox">
            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">

             <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="2" id="organisation" name="ck1" type="checkbox" value="ck1">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
              </label>
            </div> 

             </div></td>
         <td>c8275o2	</td>
         <td><strong class="nhsuk-tag unopened">UNOPENED</strong></td>
         <td>5d 4h 0m</td>
         <td>Larry Biggs</td>
         <td> PDS review <br> Missing middle name, post codes don't match	</td>
       <td><a href="url">Open</a></td>
      </tr>


      <tr data-row-id="3">
 <td><div class="checkbox table-checkbox">
            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
              <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="3" id="organisation" name="ck1" type="checkbox" value="ck1">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
              </label>
            </div> 

             </div></td>         
        <td>7o63848a	</td>
         <td><strong class="nhsuk-tag with-me">WITH ME</strong></td>
         <td>2d 0h 9m</td>
         <td>Patty Kelly</td>
        <td> Potential safeguarding <br> Missing middle name, post codes don't match	</td>
        <td><a href="url">Re-open</a> <br> <br> 
        
          <div class="container">
                        <div class="interior">
                            <a class="btn" href="#open-modal">Re-assign</a>
                        </div>
                    </div>
                        <div id="open-modal" class="modal-window"><div>
                            <a href="#" title="Close" class="modal-close">Close</a>
                                <h1>Re-assign to:</h1>
                                <input list="checkers" class="nhsuk-select" name="checker" id="checker">
                                <datalist id="checkers">
                                        <option value="Gareth Sheard">Gareth Sheard</option>
                                        <option value="Charlotte Wilson">Charlotte Wilson</option>
                                        <option value="Ben Jones">Ben Jones</option>
                                        <option value="Joseph Mitchell">Joseph Mitchell</option>
                                        <option value="Cherlize Mayans">Cherlize Mayans</option>
                                        <option value="Tommy Fleetwood">Tommy Fleetwood</option>
                                        <option value="Bruce Willis">Bruce Willis</option>
                                        <option value="Craig Hinchcliffe">Craig Hinchcliffe</option>
                                        <option value="Alec Whitworth">Alec Whitworth</option>
                                        <option value="James Chappel">James Chappel</option>
                                        <option value="Maria Walker">Maria Walker</option>
                                        <option value="Gabby Logan">Gabby Logan</option>
                                </datalist>
                                <br>
                                <br>
                                <button class="nhsuk-button nhsuk-button--ers">Confirm</button>

                            </div>
                        </div>
            </td>
      </tr>

      <tr data-row-id="4">
 <td><div class="checkbox table-checkbox">
            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">

            <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="4" id="organisation" name="ck1" type="checkbox" value="ck1">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
              </label>
            </div> 

            </div></td>
          <td>7d8299a	</td>
         <td><strong class="nhsuk-tag unopened">UNOPENED</strong></td>
          <td>4d 9h 5m	</td>
          <td>Matty Jenkins</td>
         <td> Automation issue <br> Automation expiry date in 10 months</td>
         <td><a href="url">Open</a></td>
      </tr>


      <tr data-row-id="5">
 <td><div class="checkbox table-checkbox">
            <div class="nhsuk-checkboxes__item block-label selection-button-checkbox nhsuk-checkboxes--small">
              <input class="nhsuk-checkboxes__input individual sub_chk" type="checkbox" data-id="5" id="organisation" name="ck1" type="checkbox" value="ck1">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="organisation">
              </label>
            </div> 

</div></td>
         <td>5760d622	</td>
         <td><strong class="nhsuk-tag with-checker">WITH JOHN GREEN</strong></td>
         <td>3d 2h 2m</td>
         <td>Anna Hobson</td>
         <td> Potential safeguarding <br> Auto uplift, doc issue</td>
         <td> 
              <div class="container">
                        <div class="interior">
                            <a class="btn" href="#open-modal">Re-assign</a>
                        </div>
                    </div>
                        <div id="open-modal" class="modal-window"><div>
                            <a href="#" title="Close" class="modal-close">Close</a>
                                <h1>Re-assign to:</h1>
                                <input list="checkers" class="nhsuk-select" name="checker" id="checker">
                                <datalist id="checkers">
                                        <option value="Gareth Sheard">Gareth Sheard</option>
                                        <option value="Charlotte Wilson">Charlotte Wilson</option>
                                        <option value="Ben Jones">Ben Jones</option>
                                        <option value="Joseph Mitchell">Joseph Mitchell</option>
                                        <option value="Cherlize Mayans">Cherlize Mayans</option>
                                        <option value="Tommy Fleetwood">Tommy Fleetwood</option>
                                        <option value="Bruce Willis">Bruce Willis</option>
                                        <option value="Craig Hinchcliffe">Craig Hinchcliffe</option>
                                        <option value="Alec Whitworth">Alec Whitworth</option>
                                        <option value="James Chappel">James Chappel</option>
                                        <option value="Maria Walker">Maria Walker</option>
                                        <option value="Gabby Logan">Gabby Logan</option>
                                </datalist>
                                <br>
                                <br>
                                <button class="nhsuk-button nhsuk-button--ers">Confirm</button>

                            </div>
                        </div>
            </td>
      </tr>


      


   </tbody>
</table>



<script type="text/javascript">

addSlideoutListener()

    setTimeout(function () {
        document.getElementById('slideout-sendback-value_tab_spinner').style.display = 'none'
    }, 4000)

    setTimeout(function () {
        document.getElementById('slideout-sendback-value_tab_value').style.display = 'block'
    }, 4000)


    function addSlideoutListener() {
        if (document.getElementById('slideout-sendback__button')) {
            var selects = document.getElementById('slideout-sendback__button')
            selects.addEventListener('click', function (event) {
                if (document.getElementById('slideout-sendback').getAttribute('data-status') === 'closed') {
                    console.log('slideout-sendback')
                    document.getElementById('slideout-sendback').setAttribute('data-status', 'open')
                    document.getElementById('slideout-sendback_inner').setAttribute('data-status', 'open')
                } else {
                    document.getElementById('slideout-sendback').setAttribute('data-status', 'closed')
                    document.getElementById('slideout-sendback_inner').setAttribute('data-status', 'closed')
                }
            })
        }
    }

</script>


    
{% endblock %}
